//
// general style for layouts
//
html {
    color       : @black;


    body {
        background : @white;
        min-width  : @min_width;

        width      : auto;

        // nice fonts Safari
        text-rendering         : optimizeLegibility;
        -webkit-font-smoothing : antialiased;
    }
}

// box-sizing to all
*, *:before, *:after {
    .box-sizing( border-box );
}

// container & wrapper
.container {
    width     : 100%;
}
.wrapper {
    margin       : 0 auto;
    position     : relative;
    lost-utility : clearfix;
}
body.rotate{
    .transform(rotate(90deg));
}