//
// general style for layouts
//
html {
    color       : @black;


    body {
        background : @white;
        min-width  : @min_width;

        width      : auto;

        // nice fonts Safari
        text-rendering         : optimizeLegibility;
        -webkit-font-smoothing : antialiased;
    }
}

// box-sizing to all
*, *:before, *:after {
    .box-sizing( border-box );
}

body,
.layout-wrapper,
.layout-main{
    height: 100vh;
}
// container & wrapper
.container {
    width     : 100%;
}
.wrapper {
    margin       : 0 auto;
    position     : relative;
    lost-utility : clearfix;
}
body.rotate-me{
    .transform(rotate(90deg));
    &,
    .layout-wrapper,
    .layout-main{

        width: 100vh;
        height: 100vw;
    }
}