
.navbar-fixed-top {
    min-width: @min_width;
    max-width: @max_width;
    left: 0;
    border: 0;
    position: absolute;
    .container{
        min-width: @min_width;
        max-width: 1360px;
    }
    .navbar-collapse {
        width: 320px !important;
        padding: 0;
        margin: 0;
        margin-right: -320px;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        height: 100vh;
        max-height: 100%;
        max-height: 100vh;
        .transition(.5s margin-right ease);
        .nav {
            width: 220px;
            background-color: fade(@black, 90%);
            margin: 0;
            margin-left: 100px;
            padding: 0;
        }
        &.in {
            width: 320px;
            margin-right: 0;
        }
        &.collapsing {
            width: 320px;
            margin-right: -320px;
        }
        .nav-close {
            width: 100px;
            height: 100px;
            line-height: 100px;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            cursor: pointer;

            background-color: fade(@black, 70%);
            text-align: center;
            color: @lightblue;
            &:before {
                color: @lightblue;
                font-size: 30px;
            }
            &:hover, &:focus {
                color: @lightblue;
            }
        }
    }
}
.navbar-brand{
    padding: 0;
    margin-left: 15px;
    img{
        width: 275px;
    }
    span {
        text-transform: uppercase;
        position: relative;
        bottom: -10px;
        font-size: 14px;
        margin-left: 10px;
        color: @black;
        font-weight: 500;
    }
}
body:not(.desktop){
    .navbar-nav{
        >li{
            >a{
                font-size: 16px;
                padding: 35px 30px;
            }
        }
    }

    .header {
        &__promo {
            //display: inline-block;
            position: static;
            float: right;
            margin-right: 10px;
            //top: 0;
            //right: 120px;
        }
    }

}
body.desktop {


        .navbar-brand {
            margin: 0;
            img{
                width: 275px;
                @media (max-width: 1350px){
                    width: 240px;
                }
                @media (max-width: 1280px){
                    width: 220px;
                }
                @media (max-width: 1240px){
                    width: 180px;
                }
            }
            span {
                position: relative;
                bottom: -10px;
                font-size: 14px;
                color: @black;
                font-weight: 500;
                @media (max-width: 1350px){
                    font-size: 12px;
                    bottom: -7px;
                }
            }
        }

    .header {
        &__promo img{
            @media (max-width: 1350px){
                width: 160px;
                height: 66px;
            }
            @media (max-width: 1280px){
                width: 140px;
                height: 58px;
            }
        }
    }
    &[class*="game"]{
        .navbar-header {
            //position: absolute;
            width: 100%;
            //right: 0;
            //top: 0;
        }
    }
    @media (min-width: 1024px) {
        .navbar-brand {
            //margin: 78px 20px 0;
        }

        .navbar-toggle {
            display: none;
        }

        .navbar-fixed-top {
            margin: 0 auto;
            padding: 10px 0 0;
            width: auto !important;
            display: block;
            min-width: @min_width;
            position: relative;
            max-height: 130px;
            .container{
                padding: 0 30px;
            }
            .navbar-header{
                margin: 0;
                top: 0;
            }
            .navbar-collapse {
                width: auto !important;
                float: none;
                margin: 0;
                text-align: center;
                position: static;
                display: block;
                border: 0;
                height: auto!important;


                min-height: 45px!important;
                .box-shadow(none);
                .nav {
                    width: auto;
                    margin: 0;
                    background-color: @transparent;
                }
                .nav-close {
                    display: none;
                }
            }
            .nav.navbar-nav {
                margin: 0 0 0 15px;
                display: inline-block;
                float: none;
                font-size: 0;
                white-space: nowrap;
                > li {
                    display: inline-block;
                    & + li {
                        margin-left: 3px;
                    }
                    a {
                        color: @text-color;
                        font-size: 14px;
                        line-height: 40px;
                        text-transform: uppercase;
                        padding: 0 15px;
                        .border-radius(25px);
                        &:hover, &:hover:focus {
                            color: @white;
                            background-color: @lightblue;
                        }
                    }
                    &.active {
                        a {
                            color: @white;
                            background-color: @lightblue;
                            &:hover, &:hover:focus {
                                color: @white;
                                background-color: @lightblue;
                            }
                        }
                    }
                    & + li {
                        border-top: 0;
                    }
                }
            }
        }
    }
}

.navbar-header {
    position: relative;
    width: 100%;
    right: 0;
    top: 30px;
    margin: 0 auto !important;
}

.navbar-toggle {
    display: block;
}

.header {
    &__promo {
        position: absolute;
        top: 10px;
        right: 0;
        img {
            width: 180px;
            height: 74.5px;
        }
    }
}

/*body[class*="game"] {
    .header {
        &__promo {
            display: none;
        }
    }
}*/
