.navbar-fixed-top {
  min-width: @min_width;
  left: 0;
  border: 0;
  position: absolute;
  .navbar-collapse {
    width: 320px !important;
    padding: 0;
    margin: 0;
    margin-right: -320px;
    position: fixed;
    top: 0;
    right: 0;
    height: auto !important;
    .transition(.5s margin-right ease);
    .nav {
      width: 220px;
      background-color: fade(@black, 90%);
      margin: 0;
      margin-left: 100px;
      padding: 0;
    }
    &.in {
      width: 320px;
      margin-right: 0;
    }
    &.collapsing {
      width: 320px;
      margin-right: -320px;
    }
    .nav-close {
      width: 100px;
      height: 100px;
      line-height: 100px;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      cursor: pointer;

      background-color: fade(@black, 70%);
      text-align: center;
      color: @lightblue;
      &:before {
        color: @lightblue;
        font-size: 30px;
      }
      &:hover, &:focus {
        color: @lightblue;
      }
    }
  }
}

body:not([class*="game"]) {
  .navbar-brand {
    display: none;
  }

}

body.desktop {
  &.page-index,
  &.page-about,
  &.page-rules,
  &.page-rating {
    .navbar-brand {
      display: none;
    }
    @media (min-width: 1024px) {
      .navbar-fixed-top {
        margin: 0 auto;
        padding-top: 40px;
        display: block;
        min-width: @min_width;
        position: relative;
        min-height: 100px;
        .navbar-collapse {
          width: 100% !important;
          float: none;
          text-align: center;
          position: static;
          .nav {
            width: auto;
            margin: 0;
            background-color: @transparent;
          }
          .nav-close {
            display: none;
          }
        }
        .nav.navbar-nav {
          display: inline-block;
          float: none;
          > li {
            a {
              color: @white;
              font-size: 16px;
              line-height: 40px;
              text-transform: uppercase;
              padding: 0 15px;
              .border-radius(25px);
              &:focus {
                color: @white;
                background-color: @cyan;
              }
              &:hover, &:hover:focus {
                color: @white;
                background-color: @cyan;
              }
            }
            &.active {
              a {
                color: @white;
                background-color: @cyan;
                &:hover, &:focus, &:hover:focus {
                  color: @white;
                  background-color: @cyan;
                }
              }
            }
            & + li {
              border-top: 0;
            }
          }
        }
      }
    }
  }
}

body:not([class*='desktop']) {
  &.page-index,
  &.page-about,
  &.page-rules,
  &.page-rating {
    header {
      .container {
        width: 1136px;
      }
    }
    .navbar-header {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar-toggle {
      display: block;
    }
  }
}