.modal-dialog {
  width: 700px;
}
.modal-header {
  margin-bottom: 20px;
  border-bottom: 0;
  margin-right: 15px;
  .close {
    margin-top: 20px;
  }
  .icon {
    color: @lightblue;
    font-size: 28px;
  }
}
.modal-title {
  font-size: 36px;
  font-weight: 500;
  color: @darkblue;
  text-align: center;
  margin-top: 35px;
  b {
    font-weight: 900;
    text-transform: uppercase;
    color: @darkestblue;
  }
}
.modal-body {
  margin-bottom: 70px;
  padding: 0;
  .text {
    overflow: scroll;
    overflow-x: hidden;
    margin: 0 40px;
    height: 435px;
    color: @black;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
  }

}
