//
// Pages custom styles
//
.page-game{
    .layout-main {
        background: url("@{public}/images/game_bg.jpg") no-repeat center;
        .background-size(cover);
        max-width: @min_width;
        margin: 0 auto;
    }
}
.page-game-scene1, [class*="page-game-scene"]{
    background-color: lighten(@lightblue, 5%);
    .layout-wrapper{
        position: relative;
        overflow: hidden;
    }
    .layout-main {
        background: #deb57d no-repeat center;
        .background-size(100% auto);
        position: relative;
        max-width: @min_width;
        margin: 0 auto;
    }
}

.page-404,
.page-404.desktop {
    .layout-main {
        width: @min_width;
        margin: 0 auto;
        margin-top: 100px;
    }
    header,
    footer,
    .share {
        display: none;
    }
}

.page-index.desktop,
.page-index {
    min-height: 100%;
    .layout-wrapper{
        min-height: 100%;
    }
    .layout-main {
        background: url("@{public}/images/index_bg.jpg") no-repeat top;
        .background-size(cover);
        width: @min_width;
        margin: 0 auto;
        padding: 25px 35px;
        .box-shadow(0 30px 50px @shadowcolor);
        position: relative;
    }
}
.page-about,
.page-rules,
.page-rating{
    .layout-wrapper{
        min-height: 100%;
    }
    .layout-main {
        width: @min_width;
        margin: 0 auto;
        padding: 25px 35px;
        overflow-x: hidden;
    }
}
    //.footer{
    //    .share{
    //        .opacity(0);
    //        .transition(.5s opacity ease);
    //    }
    //}
    //&.go{
    //    .footer{
    //        .share{
    //            .opacity(1);
    //        }
    //    }
    //}
