//
// Put global variables HERE :
//


//
// Path helper var
//
@public : '/build/';

//
// color vars
//
@black             : #000000;
@white             : #FFFFFF;
@transparent       : transparent;
@link-color-main   : #000;
@link-color-active : #000;
@almostblack       : #191919;
@vkcolor           : #6996c7;
@fbcolor           : #496194;
@twcolor           : #28c3ff;
@lightestblue      : #b8fbff;
@lightblue         : #00abe8;
@darkblue          : #3b5998;
@cyan              : #084194;
@darkestblue       : #263945;
@orange            : #f57b20;
@lightgray         : #eaecf3;
@darkgray          : #969696;
@red               : #ff0000;
@darkviolet        : #520860;
@dirtygreen        : #5c7d7f;
@shadowcolor       : #5eb6d8;

//
// Adaptive configuration
//

@min_width : 1136px;
@max_width : 1280px;
