.copyright {
  display: inline-block;
  @media(min-width: 1345px){
    margin-top: -92px;
  }
  .clearfix;
  .make-row();
  &__in {
    display: inline-block;
    float: left;
    height: 40px;
    .border-top-radius(5px);
    padding: 0 30px;
    //background-color: @dirtygreen;
    span {
      line-height: 40px;
      color: @text-color;
      font-size: 12px;
      &:first-of-type {
        margin-right: 10px;
      }
      &:last-of-type {
        margin-left: 25px;
      }
      a{
        color: @text-color;
        &:hover, &:hover:focus{
          color: @text-color;
        }
      }
    }
  }
  &__social {
    height: 40px;
    display: inline-block;
    float: right;
    //width: 125px;
    text-align: center;
    padding: 0 30px;
    .border-top-radius(5px);
    background-color: @dirtygreen;
    .icon {
      color: @white;
      line-height: 40px;
      font-size: 23px;
      &:first-of-type {
        margin-right: 15px;
      }
    }
  }
}