.heart{
    position: absolute;
    display: block;
    &, &:hover, &:focus, &:hover:focus{
        text-decoration: none;
    }
    img{
        margin-right: -20px;
        margin-bottom: -40px;
    }
    &-pers2-beach{
        left: 35%;
        top: 36%;
    }
    &-karlos-beach{
        right: 38%;
        top: 35%;
    }
}