.heart{
    position: absolute;
    display: block;
    &, &:hover, &:focus, &:hover:focus{
        text-decoration: none;
    }
    img{
        margin-right: -20px;
        margin-bottom: -40px;
    }
    &-pers2-beach{
        left: 37%;
        top: 36%;
    }
    &-karlos-beach{
        right: 38%;
        top: 35%;
    }
    &__result{
        position: absolute;
        left: 44px;
        top: 29px;
        padding: 0;
        margin: 0;
        z-index: @zindex-modal;
        width: 45px;
        height: 45px;
        line-height: 45px;
        .border-radius(50%);
        background-color: @lightblue;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        color: @white;
    }
}