.page-caption {
  .clearfix;
  width: 100%;
  text-align: center;

  &__logo {
    display: inline-block;
    float: left;
    img {
    width: 225px;
    }
    .navbar-brand{
      padding: 0;
      margin-left: 15px;
      img{
        width: 275px;
      }
      span {
        text-transform: uppercase;
        position: relative;
        bottom: -10px;
        font-size: 14px;
        color: @black;
        font-weight: 500;
      }
    }
  }
  &__text {
    padding-top: 25px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    span {

      text-transform: uppercase;
      font-size: 21px;
      line-height: 44px;
      color: @black;
      b {
        color: @darkviolet;
        font-weight: 900;
      }

    }
    img {
      margin-left: 10px;
      margin-top: 2px;
      width: 116px;
    }
    h2 {
      color: @white;
      font-size: 36px;
      font-weight: 500;
      margin-top: 65px;
      span {
        color: @white;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
      }
    }
  }
  &__promo {
    margin-right: 35px;
    display: inline-block;
    width: 220px;
    float: right;
    text-align: center;
    img {
      width: 45px;
      height: auto;
    }
    span {
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 15px;
      &.white {
        color: @white;
      }
    }
    p {
      margin-top: 10px;
      font-size: 14px;
      color: @black;
    }
  }
}