.page-caption {
  .clearfix;
  width: 100%;
  text-align: center;
  &__logo {
    display: inline-block;
    float: left;
    img {
    width: 225px;
    }
  }
  &__text {
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    span {
      text-transform: uppercase;
      font-size: 32px;
      color: @black;
      b {
        color: @darkviolet;
        font-weight: 900;
      }
    }
    h2 {
      color: @white;
      font-size: 36px;
      font-weight: 500;
      margin-top: 65px;
      span {
        color: @white;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
      }
    }
  }
  &__promo {
    margin-right: 35px;
    display: inline-block;
    width: 220px;
    float: right;
    text-align: center;
    img {
      width: 45px;
      height: auto;
    }
    span {
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 15px;
      &.white {
        color: @white;
      }
    }
    p {
      margin-top: 10px;
      font-size: 14px;
      color: @black;
    }
  }
}