.scene-arrow{
    .icon;
    font-size: 35px;
    line-height: 70px;
    color: @lightblue;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    z-index: 851;
    &, &:hover, &:focus{
        text-decoration: none;
    }

    &__left{
        .icon-arrow-left;
        background-color: @white;
        left: 0;
        width: 50px;
        height: 70px;
        padding-left: 10px;
        .border-right-radius(50%);
        &.slick-arrow.slick-hidden, &.slick-arrow.slick-disabled{
            display: none;
        }
    }
    &__right{
        right: 0;
        .icon-arrow-right;
        background-color: @white;
        width: 50px;
        height: 70px;
        padding-left: 15px;
        .border-left-radius(50%);
    }
}
.slick-arrow{
    font-size: 35px;
    color: @lightblue;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    z-index: 2;
    border: 0;
    background-color: @transparent;
    &, &:hover{
        text-decoration: none;
    }

    &.slick-prev{
        .icon-arrow-left;
        left: 10px;
    }
    &.slick-next{
        right: 10px;
        .icon-arrow-right;

    }
    &.slick-hidden{
        display: block;
    }
}

.layout-main.content-game-scene1 > .scene-arrow {
    color: @white;
    position: absolute;
    top: 285px;
    &__left,
    &__right{
        background-color: fade(@black, 70%);
    }
}