.users-slider{
  text-align: center;
}
.user {
  padding: 15px;
  display: inline-block;
  vertical-align: top;
  &--single{
    width: 335px;
    display: block;
    margin: 0 auto;
  }

  &__image {
    display: inline-block;
    margin-right: 15px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    .border-radius(100%);
    border: 3px solid @lightblue;
    background-color: @white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    img{
      max-width: 100%;
    }
  }
  &__name {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    color: @darkblue;
    max-width: 210px;
  }
  &__header {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: left;

  }
  &__content {
    width: 300px;
    max-height: 325px;
    overflow-x: hidden;
    .traits{
      height: 250px;
    }
    .traits--result{
      margin-top: 0;
    }
  }
  &__option {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin: 0 15px;
    text-align: left;
  }
  &__btn {
    position: absolute;
    bottom: -85px;
    left: 50%;
    .transform(translateX(-50%));
    padding: 10px 70px;
  }
}